USE [master]
GO
/****** Object:  Database [WebEducationDB]    Script Date: 05.06.2026 12:29:06 ******/
CREATE DATABASE [WebEducationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebEducationDB', FILENAME = N'C:\Users\student1\WebEducationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebEducationDB_log', FILENAME = N'C:\Users\student1\WebEducationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebEducationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebEducationDB]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 05.06.2026 12:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LessonID] [int] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 05.06.2026 12:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 05.06.2026 12:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 05.06.2026 12:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ContentText] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.06.2026 12:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [UserID], [LessonID], [CommentText]) VALUES (1, 1, 1, N'Материал изложен доступно, спасибо за подробные схемы.')
INSERT [dbo].[Comments] ([CommentID], [UserID], [LessonID], [CommentText]) VALUES (2, 2, 1, N'Подскажите, будет ли в курсе рассматриваться нормализация таблиц?')
INSERT [dbo].[Comments] ([CommentID], [UserID], [LessonID], [CommentText]) VALUES (3, 5, 4, N'Уточните, пожалуйста, почему списки в Python могут хранить элементы разных типов?')
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Price]) VALUES (1, N'Базы данных и язык SQL', N'Изучение реляционных баз данных, проектирования схем и написания запросов.', CAST(4500.00 AS Decimal(10, 2)))
INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Price]) VALUES (2, N'Основы веб-дизайна в Figma', N'Проектирование пользовательских интерфейсов, адаптивный дизайн и прототипирование.', CAST(5200.00 AS Decimal(10, 2)))
INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Price]) VALUES (3, N'Программирование на Python', N'Изучение базового синтаксиса, структур данных и объектно-ориентированного подхода.', CAST(3900.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [IsPaid]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [IsPaid]) VALUES (2, 1, 2, 0)
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [IsPaid]) VALUES (3, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [ContentText]) VALUES (1, 1, N'Урок 1: Введение в реляционные СУБД', N'Теоретические основы реляционной модели данных. Понятие таблиц, строк и колонок.')
INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [ContentText]) VALUES (2, 1, N'Урок 2: Оператор SELECT и фильтрация данных', N'Составление простых запросов на выборку. Использование секции WHERE для фильтрации.')
INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [ContentText]) VALUES (3, 2, N'Урок 1: Интерфейс Figma и базовые фигуры', N'Знакомство с рабочей областью, создание фреймов и работа со слоями.')
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Email], [PasswordHash], [UserRole], [CreatedAt]) VALUES (1, N'Иванов Иван Иванович', N'ivanov.ivan@edu.ru', N'pwd_hash_8912', N'Student', CAST(N'2026-06-05T12:27:44.040' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Email], [PasswordHash], [UserRole], [CreatedAt]) VALUES (2, N'Петрова Анна Сергеевна', N'petrova.anna@edu.ru', N'pwd_hash_4512', N'Student', CAST(N'2026-06-05T12:27:44.040' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Email], [PasswordHash], [UserRole], [CreatedAt]) VALUES (3, N'Сидоров Сергей Александрович', N'sidorov.sergey@edu.ru', N'pwd_hash_7711', N'Teacher', CAST(N'2026-06-05T12:27:44.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053411CAA0F9]    Script Date: 05.06.2026 12:29:06 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
USE [master]
GO
